GEMINI_API_KEY=AIzaSyA_WPuWvSgRt-a_MF8myQcwbEGhog61Ey8
DATABASE_URL=postgresql+asyncpg://receipts:receipts@db:5432/receipts
APP_ENV=development
GROQ_API_KEY=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
GOOGLE_CLIENT_ID=68190317197-qghomcut33vm6cr46nukcj8s46jkh1ih.apps.googleusercontent.com
